.home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  height: 80vh;
  bottom: 1px solid black;
}
@media (max-width: 600px) {
  .home-container {
    flex-direction: column;
    padding: 0px 10px;
    height: auto;
    margin-top: 0;
    height: 80vh;
  }
}

.home-text {
  flex: 1;
  text-align: justify;
}
@media (max-width: 600px) {
  .home-text {
    padding: 20px 0;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .home-text {
    padding-right: 60px;
    text-align: left;
  }
}

.home-text h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  .home-text h1 {
    font-size: 2.5rem;
  }
}
.home-text p {
  font-size: 1.2rem;
  color: #555;
}
@media (max-width: 600px) {
  .home-text p {
    font-size: 1rem;
  }
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  border: 1px solid;
}
@media (min-width: 768px) {
  .hero-image {
    padding-left: 60px;
  }
}

.hero-image img {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
}
