.project-page {
  display: flex;
  min-height: 80vh;
  justify-content: space-between;
  /* background-color: #f4f4f4; */
  /* margin-top: 30px; */
}
@media (max-width: 600px) {
  .project-page {
    flex-direction: column;
  }
  .project-aside {
    margin-right: 0;
    margin-bottom: 20px;
    display: none;
  }
}
.project-content {
  flex: 4;
  padding: 20px;
  /* font-size: 1.5rem; */
  color: #333;
  background-color: #f4f4f4;
  /* border: 1px solid green; */
  border-radius: 10px;
  height: 80vh; /* lock container height */
  overflow-y: auto; /* enable page scroll */
  overflow-x: hidden; /* hide horizontal scroll */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #888 #e5e5e5;
}
@media (max-width: 600px) {
  .project-content {
    max-height: 80vh;
    overflow-y: auto; /* enable page scroll */
    overflow-x: hidden; /* hide horizontal scroll */
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #888 #e5e5e5;
  }
}
.project-aside {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
  /* border: 1px solid blue; */
  border-radius: 10px;
  margin-right: 20px;
  /* max-width: 300px; */
}
.project-page::-webkit-scrollbar {
  width: 10px;
}

.project-page::-webkit-scrollbar-track {
  background: #e5e5e5;
  border-radius: 10px;
}

.project-page::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.project-page::-webkit-scrollbar-thumb:hover {
  background: #555;
}
h4 {
  margin: 0;
}
.project-content-sub-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.box {
  /* border: 1px solid red; */
  background: white;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.box:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
@media (max-width: 600px) {
  .project-content-sub-container {
    grid-template-columns: 1fr;
  }
}
.project-content img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
