/* Fullscreen wrapper for animated pages */
.page-wrapper {
  width: 90vw;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .page-wrapper {
    /* display: flex; */
    min-height: 80vh;
    width: 100%;
  }
}
/* Container to center content and limit max width */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex; 
  flex-direction: column;
}
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

/* Navigation buttons */
.navigation {
  display: flex;

  justify-content: space-between;
  margin-top: 20px;
}

.nav-button {
  padding: 10px;
  width: 25%;
  background: black;
  text-align: center;
  color: white;
  border-radius: 20px;
}

.nav-button:hover {
  background: grey;
  color: black;
  cursor: pointer;
  text-decoration: underline;
}
