/* Fullscreen wrapper for animated pages */
.page-wrapper {
  width: 90vw;
  height: auto;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .page-wrapper {
    display: flex;
    min-height: 80vh;
  }
}
/* Your original container stays the same */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

/* Navigation buttons */
.navigation {
  display: flex;

  justify-content: space-between;
  margin-top: 20px;
}


.nav-button {
  padding: 10px;
  width: 30%;
  background: black;
  text-align: center;
  color: white;
  border-radius: 20px;
}


.nav-button:hover {
  background: grey;
  color: black;
  cursor: pointer;
  text-decoration: underline;
}
